<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testSuite" parallel="classes" thread-count="3">
<parameter name="Test" value="Name"></parameter>
	<test name="test">
		<classes>
			<class name="com.test.my.learning.Test1"></class>
			<class name="com.test.my.learning.Test2"></class>
		</classes>
	</test>
</suite>